<% if @pay_deli.errors.any? %>
  <div class="error-alert">
    <ul>
      <% @pay_deli.errors.full_messages.each do |message| %>
        <li class='error-message'><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>